name: Auto Release Zip

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Create Zip File
        run: |
          # 修正版：在 lab.js 和 lab.html 前加上 * 以確保路徑匹配
          zip -r YouTube_Subtitle_Extension_${{ github.ref_name }}.zip . -x "*.git*" ".github/*" ".vscode/*" "docs/*" "node_modules/*" "*.DS_Store" "package-lock.json" "package.json" "*.test.js" "*lab.js" "*lab.html" "README.md"
      
      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: YouTube_Subtitle_Extension_${{ github.ref_name }}.zip
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}